div.fixed
	nav.top-bar
		ul.title-area
			li.name
				h1
					a(href="/") Round Hill Capital
			li.toggle-topbar.menu-icon
				a(href="#")
					span menu
		section.top-bar-section
			ul.right
				li.divider
				li.has-dropdown
					a(href="#") Investments
					ul.dropdown
						li.title.back.js-generated
						li
							a(href="/investments/german-residential") German Residential
						li
							a(href="/investments/student-housing") Student Housing
						li
							a(href="/investments/commercial") Commercial
				li.divider
				li.has-dropdown
					a(href="#") About Us
					ul.dropdown
						li.title.back.js-generated
						li
							a(href="/about/history") History
						li
							a(href="/about/investment-themes") Investment Themes
						li
							a(href="/about/expertise") Asset Management Expertise
						li
							a(href="/about/record") Track Record

				li.divider
				li.has-dropdown
					a(href="#") Our Team
					ul.dropdown
						li.title.back.js-generated
						li
							a(href="#") UK Team
						li
							a(href="#") German Team
				li.divider
				li
					a(href="#") Contact

				li.divider
				li
					a(href="/blog") In The News
